<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="alternate" type="application/rss+xml" title="RSS" href="https://treefort.piusbird.space/feeds/rss" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="https://treefort.piusbird.space/feeds/atom" />
<link rel="alternate" type="application/json" title="JSONFeed" href="https://treefort.piusbird.space/fee
{% if title %}
	<title> {{title}} - The Treefornt </title>
{% else %}
	<title> The Treefort </title>
{% endif %}
</head>
<body id="top">
<div class="sidenav">

🏳️‍🌈 <a href="https://en.pronouns.page/@piusbird">Pronouns</a> <br/>
🍍<a href="/blog/">My Blog</a><br/>
<li>📼 <a href="https://www.youtube.com/user/publicvoidmarnold/">YouTube</a><br/>

</div>
<main> 
{% block content %}
{% endblock content %}
</main>
</body>
</html>
